{# ourapp/templates/login.html #}

{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}

<ul id="sddm" class=login >
	<li ><a href="/index">Home</a></li>
	<li ><a href="/logout">Logout</a>
	
</ul>
   
 
<body>
	<div class=login>  	
		<form  action="/room/{{room_name}}" method="POST" enctype="multipart/form-data">
			<input id="user_message" type='text' name="user_message">
			<input id = send_chat_message type=submit value="Send" class = button id = "login">
		</form> 
	<div id="messages">
	{% for room_message in messages %}			
		{{room_message.pub_date}}:<a href=/user/{{room_message.athor}}>{{room_message.athor}}</a>:{{room_message.message}}<br>	
	{% endfor %}
	</div>
 
{% endblock %}