{# ourapp/templates/login.html #}

{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}

<html>
    <head>
        
    </head>
    <body>
    	<script type="text/javascript" src="/static/jquery-2.1.3.min.js"></script>
    	<script type="text/javascript" src="/static/socket.io.min.js"></script>
		<script type="text/javascript" charset="utf-8">
		var room_name = "{{room_name}}";
    	$(document).ready(function(){
		namespace = '/room-socket'; // change to an empty string to use the global namespace

	    
	    var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
	   
	    $('#send_chat_message').click ( function(){
	    	console.info("send_chat_message");
			
			var user_message =  $('#user_message').val()
			console.info(user_message, "messs")
	    	
	    	socket.emit('client message sent', {data: user_message, room: room_name});

	    	console.info("send_chat_message_after");
	    	return false;
	    });
	    
	    socket.on('server message sent', function(data) {
	    	console.info("server message sent: ", data);
	    	if ((data.room == room_name) || (data.room == '*')) {
	    		$('#messages').append('[' + data.time_received + '] <u>' + data.user+ '</u>: <b>' + data.message + '</b><br>');
	    	}
	    });
	    $(window).on('beforeunload', function(){
    	socket.close();
});
 });

</script>

  	{% for room_message in messages %}	
	<p>
		
		{{room_message.pub_date}}:{{room_message.athor}}:{{room_message.message}}
	</p>
	{% endfor %}
    	<form  action="/room/{{room_name}}" method="POST" enctype="multipart/form-data">
    	<input id="user_message" type='text' name="user_message">

 
        <p><input id = send_chat_message type=submit value="Send">
		</form> 
		<div id="messages">
{% for room_message in room_messages %}	
	<p>
		{{room_message[1]}}:{{room_message[0]}}
	</p>
{% endfor %}
</div>
  
    </body>
</html>
 
{% endblock %}